@charset 'utf-8';
@import "@/assets/style/_reset.css";
@import url("https://fonts.googleapis.com/css?family=Poiret+One");

/* Variables */
$black: rgb(26, 26, 26);
$gray: rgb(179, 179, 179);
$yellow: rgb(255, 219, 74);
$whiteYellow: rgba(255, 236, 156, 0.5);
$darkYellow: rgb(240, 195, 14);
$white: rgb(255,255,255);

$sp: 520px;
$tab: 960px;

/* v-cloak */
[v-cloak] {
  display: none;
}

/* common */
html {
  color: $black;
  -webkit-text-size-adjust: 100%;
  // font-family: "Lato", "Avenir", Helvetica, Arial, sans-serif;
}

@media (max-width: $tab) {
  html {
    font-size: 15px;
  }
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

.pageTitle {
  text-align: center;
}

.textMessage {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

a {
  color: $yellow;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* header */
.headerNav {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
}

.headerNav__item {
  position: relative;
  display: inline-block;
  color: $gray;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding: 1rem 1.5rem;
  text-decoration: none;
  &--active {
    color: $black;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black;
      content: "";
    }
  }
}

@media (min-width: $tab) {
  .headerNav__item {
    transition: color 0.2s;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
}
@media (max-width: $sp) {
  .headerNav__item {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}

/* home */
.home-image {
  background-image: url('~assets/images/HomeImg.jpg');
  background-size: cover;
  background-position: 50%;
  height: calc(100vh - 61px);
}

@media (max-width: $tab) {
  .home-image {
    height: calc(100vh - 38px);
  }
}

/* transition */
.page-enter-active {
  transition: opacity 0.5s ease-in;
}
.page-leave-active {
  transition: opacity 0.1s ease-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* wrapper */
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 4rem;
}

/* about */
.profile {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  max-width: 700px;
  padding: 2rem 2rem;
  margin: 0 auto;
  text-align: left;
}
@media (max-width: $sp) {
  .profile {
    display: block;
    width: 100%;
    padding-left: 15px;
    padding-top: 1em;
    h2 {
      margin-top: 1em;
    }
    h3 {
      font-size: 1.2em;
    }
    p {
      font-size: 0.9em;
    }
  }
}

/* gallery */
.gallery {
  display: flex;
  padding-top: 1em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.gallery-enter-active {
  transition: opacity 0.5s ease-in;
}
.gallery-enter {
  opacity: 0;
}
.photo-box {
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 25%;
  padding: 4px 4px;
}
.thumb-box {
  overflow: hidden;
}
.thumb-img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  transition-duration: 0.3s;
  &:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    opacity: 0.6;
  }
}
@media (max-width: $sp) {
  .photo-box {
    width: 50%;
  }
}

/* modal */
.modal-mask {
  display: block;
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(65, 65, 65, 0.8);
}
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  align-items: center;
}
.modal-img {
  width: 90%;
}
.fade-modal-enter-active,
.fade-modal-leave-active {
  transition: opacity 0.4s;
}
.fade-modal-enter,
.fade-modal-leave-to {
  opacity: 0;
}
.loader {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid #fff;
  border-right-color: transparent;
  animation: spin 1s linear infinite;
  z-index: 999;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}

/* font awesome */
.fa-fw {
  margin: 10px;
}
.fa-color {
  color: $yellow;
}

/* MyPage */
.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: rgba(65, 65, 65, 0.8);
  justify-content: center;
  align-items: center;
}

.auth-area {
  margin-top: 1rem;
  margin-right: 1rem;
}

.btn {
  font-size: 1em;
  font-weight: bold;
  height: 38px;
  padding: 0.3em 1em;
  text-decoration: none;
  background-color: $yellow;
  color: $white;
  border: 0;
  border-radius: 0.5em;
  transition: 0.4s;
  &--large {
    font-size: 3em;
  }
  &:hover {
    cursor: pointer;
    background: $darkYellow;
  }
  &:disabled {
    cursor: default;
    opacity: 0.5;
    &:hover {
      background-color: $yellow;
    }
  }
}

.selectBtn {
  color: $yellow;
  font-size: 3em;
}

.sign-out {
  display: block;
  margin: 0 0 0 auto;
}

.edit-button {
  display: block;
  margin: 0 0 0 auto;
}

.input-item {
  cursor: pointer;
  input {
    display: none;
  }
}

.img-checkbox {
  display: none;
  &:checked + div {
    outline: 5px solid $yellow;
    outline-offset: -5px;
  }
}

.select-img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
}

/* settings */
.dashboard {
  display: flex;
  flex-direction: row;
}

.dashboard__nav {
  position: fixed;
}

.dashboard__navItem {
  display: flex;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-size: 1.1em;
  &:hover {
    text-decoration: none;
  }
  &--active {
    background-color: $whiteYellow;
    border-radius: 2.5em;
  }
}

.dashboard__content {
  padding-left: 200px;
  width: 100%;
}

.dashboard__title {
  display: flex;
}

.dashboard__articleList {
  margin-top: 1rem;
}

.dashboard__article {
  margin-top: 2rem;
}

.dashboard__articleItemContainer {
  padding: 1rem 0;
}

.dashboard__articleItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard__articleTitle {
  color: $black;
  font-weight: bold;
}

.dashboard__articleEdit {
  display: flex;
}


.dashboard__articleFooter {
  margin-top: 0.5em;
}